!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = in_bed_with.analytics
  %body
    %header
      = link_to '', root_path
    %section
      .banner= in_bed_with.adsense(ad_slot: 6782195439, ad_type: :leaderboard)
      #main-content
        %nav
          %ul.clearfix
            %li{class: menu_class(:ingredients)}= link_to 'View Ingredients', ingredients_path
            %li{class: menu_class(:effects)}= link_to 'View Effects', effects_path
        #main-content-wrapper
          = facebook_like
          = tweet_this
          = yield
      %aside
        %p
          %strong.highlight Now updated with Dawnguard, Hearthfire and Dragonborn ingredients!
        %p SkyrimAlchemy.com is the best source for finding out which ingredients match with other ingredients in ElderScrolls V: Skyrim.
        %p In addition to ingredient matchers, you can also see where all ingredients can be found.
        %p Questions? Comments? Feedback? Please send us an email: #{mail_to 'mudcrabs@skyrimalchemy.com'}.
        .banner= in_bed_with.adsense(ad_slot: 9127468184, ad_type: :square)
      .clear
      .banner= in_bed_with.adsense(ad_slot: 2785886142, ad_type: :leaderboard)
    %footer © 2012 SkyrimAlchemy.com
