#top
#main
  %h1
    #{@ingredient.name} #{uesp_link(@ingredient)}
  %h2 Where to find #{@ingredient.name}:
  %p= @ingredient.location
  %h2 Ideal ingredient matchers:
  - if @ingredient.matching_ingredients.any?
    %p
      %i These are ingredients which have two or more effects in common with #{@ingredient.name}:
    %ul.ingredient-list.no-columns
      = render partial: 'ingredient_with_effects', collection: @ingredient.matching_ingredients
  - else
    %p
      %i None
  %h2 Effects:
  %p
    %i All effects of #{@ingredient.name}, together with other ingredients that share the same effect:
  - @ingredient.effects.each do |effect|
    %h3<
      = link_to effect.name, effect_path(effect), class: 'effect'
      = ':'
    %ul.ingredient-list
      = render (effect.ingredients - [@ingredient])
