#top
#main
  %h1
    #{@ingredient.name} #{uesp_link(@ingredient)}
  %h2 Ideal ingredient matchers:
  - if @ingredient.matching_ingredients.any?
    %ul.ingredient-list.no-columns
      - @ingredient.matching_ingredients.each do |ingredient|
        %li
          = link_to ingredient.name, ingredient_path(ingredient), :title => tooltip(ingredient), class: 'tooltip'
          (#{effect_list(ingredient)})
  - else
    %p
      %i None
  %h2 Effects:
  - @ingredient.effects.each do |effect|
    %h3<
      = link_to effect.name, effect_path(effect), class: 'effect'
      = ':'
    %ul.ingredient-list
      - (effect.ingredients - [@ingredient]).each do |ingredient|
        %li= link_to ingredient.name, ingredient_path(ingredient), :title => tooltip(ingredient), class: 'tooltip'
