#top
#main
  %h1
    #{@ingredient.name} #{uesp_link(@ingredient)}
  %h2 Where to find #{@ingredient.name}:
  %p= @ingredient.location
  %h2 Ideal ingredient matchers:
  - if @ingredient.matching_ingredients.any?
    %p
      %i These are ingredients which have two or more effects in common with #{@ingredient.name}:
    %ul.ingredient-list.no-columns
      - @ingredient.matching_ingredients.each do |ingredient_with_effects|
        %li
          %a.tooltip{ href: ingredient_path(ingredient_with_effects), title: tooltip(ingredient_with_effects), class: ingredient_with_effects.dlc.present? ? "dlc icon-#{ingredient_with_effects.dlc.name.downcase}" : nil }
            = ingredient_with_effects.name
          (#{effect_list(ingredient_with_effects)})
  - else
    %p
      %i None
  %h2 Effects:
  %p
    %i All effects of #{@ingredient.name}, together with other ingredients that share the same effect:
  - @ingredient.effects.each do |effect|
    %h3<
      = link_to effect.name, effect_path(effect), class: 'effect'
      = ':'
    %ul.ingredient-list
      = render (effect.ingredients - [@ingredient])
