#top
#main
  %h1
    #{ingredient.name} #{uesp_link(ingredient)}
  %h2 Where to find #{ingredient.name}:
  %p= ingredient.location
  %h2 Ideal ingredient matchers:
  - if matching_ingredients_for(ingredient).any?
    %p
      %i These are ingredients which have two or more effects in common with #{ingredient.name}:
    %ul.ingredient-list.no-columns
      - matching_ingredients_for(ingredient).each do |matching_ingredient|
        %li
          %a.tooltip{ href: "/ingredients/#{matching_ingredient.slug}", title: ingredient_tooltip(matching_ingredient), class: matching_ingredient.dlc.present? ? "dlc icon-#{matching_ingredient.dlc.downcase}" : nil }
            = matching_ingredient.name
          (#{matching_effects_list(ingredient, matching_ingredient)})
  - else
    %p
      %i None
  %h2 Effects:
  %p
    %i All effects of #{ingredient.name}, together with other ingredients that share the same effect:
  - effects_for(ingredient).each do |effect|
    %h3<
      = link_to effect.name, "/effects/#{effect.slug}", class: 'effect'
      = ':'
    %ul.ingredient-list
      - ingredients_for(effect).each do |effect_ingredient|
        %li
          %a.tooltip{ href: "/ingredients/#{effect_ingredient.slug}", title: ingredient_tooltip(effect_ingredient), class: effect_ingredient.dlc.present? ? "dlc icon-#{effect_ingredient.dlc.downcase}" : nil }
            = effect_ingredient.name
